$color_gray: #969696;
$color_gray_l: #F3F3F3;
$color_white: #ffffff;
$color_blue: #2196f3;
$color_black: #242424;

$violet: #8175F7;
$sky: #59A9FC;


header{
    padding: 15px 50px;
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #F3F3F3;
    // box-shadow: 0 3px 5px #F3F3F3;
    position: fixed;
    top: 0;
    z-index: 3;
    .logo{
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            display: inline-block;
            width: 30%;
            .icon{
                width: 40px;
                height: 40px;
                border-radius: 5px;
                // background-color: $color_blue;
                background: linear-gradient(to bottom right, $violet, $color_blue);
                color: $color_white;
                font-size: 1.5rem;
                text-align: center;
                line-height: 40px;
                display: inline-block;
            }
            .title{
                margin-left: 7px;
                font-size: 0.9rem;
                text-align: left;
                vertical-align: bottom;
                display: inline-block;
            }
    }
    .search{
        width: 30%;
        display: inline-block;
        input{
            width: 100%;
            border: none;
            outline: none;
            padding: 10px 20px;
            border-radius: 7px;
            background-color: $color_gray_l;
            font-weight: 500;
            font-family: Montserrat,sans-serif;
            font-size: .8rem;
            &::placeholder{
                color: $color_gray;
            }
        }
    }
    .lines{
        width: 30%;
        display: inline-block;
        text-align: right;
        .section{
            margin: 0 5px;
            padding: 10px;
            display: inline-block;
            color: #242424;
            a{
                color: #242424;
                text-decoration: none;
                font-weight: 500;
                font-family: Montserrat,sans-serif;
                font-size: .8rem;
                &:hover{
                    cursor: pointer;
                    color: $color_blue;
                }
            }
        }
    }
}