$sections: 5;
$padding_s: 50px;



$color_gray: #969696;
$color_gray_l: #F3F3F3;
$color_white: #ffffff;
$color_blue: #2196f3;
$color_black: #242424;

footer{
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #F3F3F3;
    // box-shadow: 0 -3px 5px #F3F3F3;
    padding: 20px 0;
    .section{
        width: 100%/$sections;
        padding: 0 0 0 50px;
        display: inline-block;
        color: #242424;
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        a{
                color: $color_black;
                text-decoration: none;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
                font-size: 0.8rem;
                display: block;
                margin-top: 10px;
                &:hover{
                    cursor: pointer;
                    color: $color_blue;
                }
            }
    .logo{
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            display: inline-block;
            margin-bottom: 50px;
            vertical-align: middle;
            .icon{
                width: 40px;
                height: 40px;
                border-radius: 5px;
                // background-color: $color_blue;
                background: linear-gradient(to bottom right, $violet, $color_blue);
                color: $color_white;
                font-size: 1.5rem;
                text-align: center;
                line-height: 40px;
                display: inline-block;
            }
            .title{
                margin-left: 7px;
                font-size: 0.9rem;
                text-align: left;
                vertical-align: bottom;
                display: inline-block;
            }
        }
    }
    .copy{
        display: block;
        font-family: Montserrat,sans-serif;
        font-size: 0.8rem;
        .copyright{
            text-align: center; 
            color: $color_gray;
            font-weight: 500;
        }
    }
}